<main class="main-body">
  <div class="toc-container">
    <div class="toc-toggle">
      <i id="toc-b-icon" class="iconfont icon-liebiao-01" onclick="toggleShow()"></i>
    </div>
    <%- toc(page.content) %>
  </div>
  <% if(toc(page.content)!=='') { %>
  <script>
    var show = false
    function toggleShow() {
      if (show) {
        document.getElementsByClassName('toc')[0].className = 'toc'
        document.getElementById('toc-b-icon').className = 'iconfont icon-liebiao-01'
      } else {
        document.getElementsByClassName('toc')[0].className = 'toc show'
        document.getElementById('toc-b-icon').className = 'iconfont icon-quxiao-01'
      }
      show = !show
    }
    document.getElementsByClassName('toc')[0].onclick = toggleShow
  </script>
  <% } else { %>
  <script>
    var show = false
    function toggleShow() {
      if (show) {
        document.getElementById('toc-b-icon').className = 'iconfont icon-liebiao-01'
      } else {
        document.getElementById('toc-b-icon').className = 'iconfont icon-quxiao-01'
      }
      show = !show
    }
  </script>
  <% } %>
  <div class="article-header">
    <h1 class="article-title"><%- page.title %></h1>
    <div class="article-details">
      <div class="article-post-date"><span>Posted at </span> <%- page.date.format('YYYY-MM-DD') %></div>
      <div class="article-tags">
        <% page.tags.each(function(tag){ %>
        <a href="/tags/<%= tag.name %>">#<%= tag.name %></a>
        <% }) %>
      </div>
    </div>
  </div>
  <%- partial('_partial/article') %>
  <o3o key="mizore" api="https://o3o.mizore.site:2333"></o3o>
  <%- js('/o3o/o3o.js') %>
  <%- css('css/o3o') %>
</main>