<footer>
  <div class="footer-info">© 2018-2022 <%= config.author %> | Powerd by <a href="https://hexo.io/">Hexo</a> | Theme <a
      href="https://github.com/mizoreyo/hexo-theme-insnow">Insnow</a> | <a href="https://beian.miit.gov.cn/">蜀ICP备20005398号</a></div>
  <div class="footer-info">
    <a class="footer-i" href="<%= theme.footer.wechat %>"><i class="iconfont icon-wechat"></i></a>
    <a class="footer-i" href="<%= theme.footer.github %>"><i class="iconfont icon-github-fill"></i></a>
    <a class="footer-i" href="<%= theme.footer.rss %>"><i class="iconfont icon-rss"></i></a>
    <a class="footer-i" href="<%= theme.footer.mail %>"><i class="iconfont icon-mail"></i></a>
  </div>
</footer>