<head>
  <meta charset="utf-8">
  <% var title=page.title %>
  <title>
    <% if (title){ %>
    <%= title %>
    <% } else { %>
    <%= config.title %>
    <% } %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <%- js('https://cdn.staticfile.org/prism/1.17.1/prism.min.js') %>
  <%- js('https://cdn.staticfile.org/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js') %>
  <%- css('css/prism/material-light.css') %>
  <%- css('css/prism/material-dark.css') %>
  <%- js('https://cdn.staticfile.org/prism/1.17.1/plugins/line-numbers/prism-line-numbers.min.js') %>
  <%- css('https://cdn.staticfile.org/prism/1.17.1/plugins/line-numbers/prism-line-numbers.min.css') %>
  <%- css('css/style') %>
  <%- css('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans+SC:wght@300&display=swap') %>
  <%- css('iconfont/iconfont') %>
</head>